<form nz-form #form="ngForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">名称</nz-form-label>
    <nz-form-control nzSpan="2">
      <input nz-input required placeholder="名称" [(ngModel)]="item.name" name="name" [disabled]="!isCreate" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">分组</nz-form-label>
    <nz-form-control>
      <nz-radio-group [(ngModel)]="item.cname" name="cname" (ngModelChange)="cnameChange()">
        <label nz-radio nzValue="基础物品">基础物品</label>
        <label nz-radio nzValue="升级物品">升级物品</label>
        <label nz-radio nzValue="神秘商店">神秘商店</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">类型</nz-form-label>
    <nz-form-control>
      <nz-radio-group [(ngModel)]="item.type" name="type">
        <label *ngFor="let type of types" nz-radio [nzValue]="type">{{type}}</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">
      <img *ngIf="item.img" [src]="item.img" width="96" />
      {{item.img ? '' : '图片'}}
    </nz-form-label>
    <nz-form-control nzSpan="10">
      <input nz-input required placeholder="图片" [(ngModel)]="item.img" name="image" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">总价</nz-form-label>
    <nz-form-control nzSpan="2">
      <input nz-input required type="number" placeholder="总价" [(ngModel)]="item.cost" name="cost" />
    </nz-form-control>
    <nz-form-label nzRequired nzSpan="2">魔耗</nz-form-label>
    <nz-form-control nzSpan="2">
      <input nz-input type="number" placeholder="魔耗" [(ngModel)]="item.mc" name="mc" />
    </nz-form-control>
    <nz-form-label nzRequired nzSpan="2">CD</nz-form-label>
    <nz-form-control nzSpan="2">
      <input nz-input required type="number" placeholder="CD" [(ngModel)]="item.cd" name="cd" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">注脚</nz-form-label>
    <nz-form-control nzSpan="10">
      <input nz-input required placeholder="注脚" [(ngModel)]="item.lore" name="lore" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">备注</nz-form-label>
    <nz-form-control nzSpan="10">
      <textarea rows="4" nz-input required placeholder="备注" [(ngModel)]="item.notes"
                name="notes"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzOffset="2">
      <button nz-button nzType="primary" nzSize="large" [disabled]="!form.form.valid" type="submit"
              [nzLoading]="loading"><i nz-icon nzType="upload"></i>保存
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
