<div class="white-background">
  <nz-steps [nzCurrent]="current">
    <nz-step nzTitle="基本信息"></nz-step>
    <nz-step nzTitle="详细信息"></nz-step>
    <nz-step nzTitle="技能信息"></nz-step>
  </nz-steps>
</div>

<div class="white-background" [ngSwitch]="current">
  <app-hero-basic-info *ngSwitchCase="0"
                       isCreate="true"
                       [hero]="hero"
                       (saveSuccess)="current = 1"></app-hero-basic-info>
  <app-hero-detail-info *ngSwitchCase="1"
                        (saveSuccess)="current = 2"
                        [heroDetail]="{name:hero.name}"></app-hero-detail-info>
  <app-hero-ability-info *ngSwitchCase="2"
                         [heroName]="hero.name"></app-hero-ability-info>
</div>
