<nz-page-header (nzBack)="onBack()" nzBackIcon [nzTitle]="item.name" [nzGhost]="false">
  <nz-page-header-extra>
    <button nz-button nzType="primary"
            [nzLoading]="loading"
            (click)="save()"><i nz-icon nzType="upload"></i>确认提交
    </button>
    <button nz-button nzType="danger" nz-popconfirm nzPopconfirmTitle="确认删除 {{item.name}} 的所有信息？"
            nzPopconfirmPlacement="bottomRight"
            (nzOnConfirm)="delete()"
            [nzLoading]="loading"><i nz-icon nzType="delete"></i>删除物品
    </button>
  </nz-page-header-extra>
</nz-page-header>

<nz-spin [nzSpinning]="loading">
  <nz-tabset>
    <nz-tab nzTitle="基本">
      <app-item-basic-info [item]="item"></app-item-basic-info>
    </nz-tab>
    <nz-tab nzTitle="属性" [nzDisabled]="loading">
      <app-item-attr-info *ngIf="!loading" [item]="item"></app-item-attr-info>
    </nz-tab>
    <nz-tab nzTitle="效果" [nzDisabled]="loading">
      <app-item-effect-info *ngIf="!loading" [item]="item"></app-item-effect-info>
    </nz-tab>
    <nz-tab nzTitle="配件" [nzDisabled]="loading">
      <app-item-component-info *ngIf="!loading" [item]="item"></app-item-component-info>
    </nz-tab>
  </nz-tabset>
</nz-spin>
