:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-content-footer {
  overflow-y: scroll;
  height: 100%;
}

.app-content {
  margin: 24px;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 128px);
}

nz-footer {
  text-align: center;
  padding: 0 50px 12px 50px;
}

.inner-content {
  margin-top: 12px;
  flex: 1;
}

.router-spin{
  min-height: 320px;
}


