<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://wycode.cn/" target="_blank">
        <img src="https://wycode.cn/img/logo_48.png" alt="logo">
        <h1>wy-admin</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'dashboard' : ''" nzMatchRouter>
        <a routerLink="/dashboard"><i nz-icon nzType="dashboard"></i>{{isCollapsed ? '' : 'Dashboard'}}</a>
      </li>
      <li nz-submenu nzOpen nzTitle="Dota" nzIcon="wechat">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dota/version">Version</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <div class="header-user">
          <nz-avatar nzIcon="user"></nz-avatar>
        </div>
      </div>
    </nz-header>
    <div class="app-content-footer">
      <nz-content class="app-content">
        <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>
        <a href="http://beian.miit.gov.cn" target="_blank">陕ICP备15011477号</a>
        <br />
        ©<a href="https://wycode.cn" target="_blank">wycode.cn</a> 2015-2019 All Right Reserved
        <br />
        <a href="https://github.com/wangyucode" target="_blank"><i nz-icon nzType="github"></i></a>
      </nz-footer>
    </div>
  </nz-layout>
</nz-layout>
