<form nz-form #form="ngForm" (ngSubmit)="submitForm()">
  <nz-form-item *ngFor="let component of components;let i=index">
    <nz-form-label nzRequired nzSpan="2">{{component.name}}</nz-form-label>
    <nz-form-control nzSpan="2">
      <img [src]="component.img" width="128" />
    </nz-form-control>
    <button class="btn-delete" nz-button nzType="danger" (click)="delete(i)">
      <i nz-icon nzType="delete"></i>删除
    </button>
    <span style="margin-left: 12px">{{component.cost}}</span>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="2">卷轴价格</nz-form-label>
    <span>{{scrollCost}}</span>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzOffset="2">
      <button nz-button nzType="dashed" nzSize="large" (click)="inputModalVisible = true;inputKey=null" type="button">
        <i nz-icon nzType="plus"></i>添加
      </button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzOffset="2">
      <button nz-button nzType="primary" nzSize="large" [disabled]="!form.form.valid" type="submit">
        <i nz-icon nzType="upload"></i>保存
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-modal [(nzVisible)]="inputModalVisible" nzTitle="请选择配件" [nzFooter]="null" (nzOnCancel)="inputModalVisible=false"
          nzWidth="1200">
  <a *ngFor="let item of allItems"
     class="hero-link" (click)="add(item)">
    <img [src]="item.img" class="hero-img" alt="{{item.name}}" />
    <span class="hero-name">{{item.name}}</span>
  </a>
</nz-modal>
