<div class="sidebar-logo">
  <a href="https://wycode.cn/" target="_blank">
    <img src="https://wycode.cn/img/logo_48.png" alt="logo">
    <h1>wy-admin</h1>
  </a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'dashboard' : ''" nzMatchRouter>
    <a routerLink="/dashboard"><i nz-icon nzType="dashboard"></i>{{isCollapsed ? '' : '仪表盘'}}</a>
  </li>
  <li nz-submenu nzOpen nzTitle="Dota" nzIcon="wechat">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dota/version">版本管理</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dota/heroes">英雄列表</a>
      </li>
    </ul>
  </li>
</ul>
