<nz-card nzTitle="错误统计" [nzExtra]="extraTemplate">
  <nz-table #basicTable [nzData]="dataSource" [nzLoading]="loading">
    <thead>
    <tr>
      <th>Path</th>
      <th>Method</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.path}}</td>
      <td>{{data.method}}</td>
      <td>{{data.count}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <div>
    时间区间：
    <nz-select [(ngModel)]="day" (ngModelChange)="onQueryChange()">
      <nz-option nzValue="30" nzLabel="30天"></nz-option>
      <nz-option nzValue="7" nzLabel="7天"></nz-option>
      <nz-option nzValue="1" nzLabel="1天"></nz-option>
    </nz-select>
    错误码：
    <nz-select [(ngModel)]="code" (ngModelChange)="onQueryChange()">
      <nz-option nzValue="500" nzLabel="500"></nz-option>
      <nz-option nzValue="404" nzLabel="404"></nz-option>
      <nz-option nzValue="403" nzLabel="403"></nz-option>
      <nz-option nzValue="400" nzLabel="400"></nz-option>
    </nz-select>
  </div>
</ng-template>
