<nz-card>
  主站：
  <a href="https://travis-ci.com/wangyucode/wycode.cn">
    <img src="https://travis-ci.com/wangyucode/wycode.cn.svg?branch=master" alt="主站" />
  </a>
  Admin：
  <a href="https://travis-ci.com/wangyucode/wycode-admin">
    <img src="https://travis-ci.com/wangyucode/wycode-admin.svg?branch=master" alt="Admin" />
  </a>
  API：
  <a href="https://wycode.cn/api.html">
    <img src="https://wycode.cn/web/api/public/admin/dashboard/status" alt="API" />
  </a>
</nz-card>

<section class="charts-section" nz-row nzGutter="12">
  <app-access-record nz-col nzSpan="8"></app-access-record>
  <app-app-use nz-col nzSpan="8"></app-app-use>
  <app-hot-blog nz-col nzSpan="8"></app-hot-blog>
</section>

<section class="charts-section" nz-row nzGutter="12">
    <app-access-geo nz-col nzSpan="8"></app-access-geo>
<!--    <app-error-statist></app-error-statist>-->
</section>
