<form nz-form #form="ngForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">名称</nz-form-label>
    <nz-form-control nzSpan="2">
      <input nz-input required placeholder="名称" [(ngModel)]="hero.name" name="name" [disabled]="!isCreate" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">类型</nz-form-label>
    <nz-form-control>
      <nz-radio-group [(ngModel)]="hero.type" name="type">
        <label nz-radio nzValue="力量">力量</label>
        <label nz-radio nzValue="智力">智力</label>
        <label nz-radio nzValue="敏捷">敏捷</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">
      <img *ngIf="hero.imageUrl" [src]="hero.imageUrl" width="96" />
      {{hero.imageUrl ? '' : '英雄图片'}}
    </nz-form-label>
    <nz-form-control nzSpan="10">
      <input nz-input required placeholder="英雄图片" [(ngModel)]="hero.imageUrl" name="imageUrl" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="2">
      <img *ngIf="hero.icon" [src]="hero.icon" width="32" />
      {{hero.imageUrl ? '' : '英雄图标'}}
    </nz-form-label>
    <nz-form-control nzSpan="10">
      <input nz-input required placeholder="英雄图标" [(ngModel)]="hero.icon" name="icon" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzOffset="2">
      <button nz-button nzType="primary" nzSize="large" [disabled]="!form.form.valid" type="submit"
              [nzLoading]="loading"><i nz-icon nzType="upload"></i>保存
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
